<div local-class="root">
  <div class="media">
    <Card @title="Admin Bereich">
      <JubileeButton
        @text={{this.createAdminDbButtonText}}
        @onClick={{this.createAdminDb}}
        @isEnabled={{not @isCreatingAdminDb}}
      />
    </Card>
  </div>
</div>