<div local-class="root">
  <div class="media">
    <Card @title="Admin Bereich">
      <JubileeButton
        @text="Admin Datenbank anlegen"
        @onClick={{@createAdminDb}}
      />
    </Card>
  </div>
</div>