<div local-class="root">
  <SubHeader>
    <button {{on "click" this.newTenant}}>
      new tenant
    </button>
  </SubHeader>
  <div class="media">
    IndexView showing a list of tenants
  </div>
</div>