$mediaBreakpoint: 940px;


// https://materialtheme.arcsine.dev/

html,
body {
  --primary-color: #ddc686;
  --accent-color: #797979;
  --background-color: #2c2c2c;
  --card-color: #393939;
  --text-color: #ffffff;
  --text-color-on-primary: #1d1a11;
  --text-color-on-accent: #ffffff;


  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;

  overflow-y: auto;

  background: var(--background-color);
  color: var(--text-color);
}

:global .media {
  max-width: $mediaBreakpoint;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: $mediaBreakpoint) {
  :global .media {
    width: 100%;
  }
}

@media (min-width: $mediaBreakpoint) {
  :global .media {
    width: $mediaBreakpoint;
  }
}

:global .no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

:global .display-1 {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25;
}

:global .title {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.15;
}

:global .vertical {
  display: flex;
  flex-direction: column;
}

:global .horizontal {
  display: flex;
  flex-direction: row;
}