.root {
  margin-top: 8px;
  margin-bottom: 4px;
  background: var(--card-color);
  padding: 12px;

  display: flex;
  flex-direction: column;
}

.root .title {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 6px;
}